# String Formation

In [2]:
name = input("enter the name")
age = int(input("enter the age"))
field = input("enter the field")
print("Dear Your Name  {} . your age is {}.  and you are student of  {} ".format(name,age,field))

enter the name Musharraf
enter the age 20
enter the field computer science

Dear Your Name  Musharraf , your age is 20, and you are student of  computer science

In [4]:
name = input("enter the name")
print(f"your name is {name} ")

enter the name Saleem

your name is Saleem

In [8]:
a = int(input("enter the number1: "))
b = int(input("enter the number2: "))
print(f"the sum of {a} & {b} is {a+b} ")

enter the number1:  40
enter the number2:  60

the sum of 40 & 60 is 100

In [9]:
# perform a math operation in placeholder
txt = (f" the price is {12*12} dollar")
print(txt)

 the price is 144 dollar

In [13]:
txt = (f" the price is {12/(144*144)} dollar")
print(txt)

 the price is 0.0005787037037037037 dollar

In [14]:
#implicit ----> python automatically convert the data type after addition
print(5+4.4) # int & float
print(7+ 5+6j) # int & complex
print(5.5+ 2+4j) # float & complex

9.4
(12+6j)
(7.5+4j)

In [22]:
# Explicit ----> Where python can't perform implicit type conversion
# float to int
print(int(7.4))
#int to float
print(float(4))
# string to int
print(int('45'))
# int to string
print(str(45))
#float to string
print(float('35'))
# string to float
print(str(4.55))
#int to bool
print(bool(0))
#bool to int
print(int(False))
#int to complex
print(complex(5))

7
4.0
45
45
35.0
4.55
False
0
(5+0j)

In [24]:
# not convertable
print(int("Karachi"))
print(float("Karachi"))
print(complex("Karachi"))

ValueError: invalid literal for int() with base 10: 'Karachi'

#Literals Raw Data given in a variable

###4 types of literals

* Numeric
* String
* Boolean
* Special






####1. Numeric Literals

In [27]:
a = 0b1010 # Binary
b = 100 # Decimal
c = 0o310 # octa
d = 0x12c # hexa

# Float literals
float_1= 100.22
float_2= 1.5e2
float_3= 13.2e-3

# complex literals
x = 2.4j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x, x.real ,x.imag)

10 100 200 300
100.22 150.0 0.0132
2.4j 0.0 2.4

### String literals

In [35]:
string =" my name is Musharraf"
strings = "I am 20 years old"
single_char = "C"
multiline_str = """This is a multiline with more than one line"""# multiline string
unicode_str = u"\U0001f600"

raw_str="raw \n String "# Use when want to write html in python


print(string)
print(strings)
print(single_char)
print(multiline_str)
print(unicode_str)

print(raw_str)

 my name is Musharraf
I am 20 years old
C
This is a multiline with more than one line
ðŸ˜€
raw
 String

### Boolean Literals

In [36]:
#implicit type conversion
a = 4+True
b = 10+False
print(a,b)

5 10

4### special literals

In [39]:
# there is no variable declaration mechnism in python . So as safe side for diclaration of variabe for any purpose we can use None which defines the emptiness of variable
# we can use zero as place of none but it makes some mistake or blender in logic.
a=None
print(a)

None

# Operators
Operators are use to perform oerations on variables and values.Python has following operators

*   Arthmatic Operators
*   Comparison Operators
*   Logical Opertors  
*   Assignment Operator
*   Identity Operators
*   Membership Operators

In [42]:
# Arthmatic Operators
x = 10
y = 4
# Addition
print(x+y)

# Subraction
print(x-y)

# Division #output in float by default
print(x/y)


#Floor Division
print(x//y)      #output in int by default


# Multiplication
print(x*y)

# Power
print(x**y)

# percentage
print(x%y)  # Modulus

14
6
2.5
2
40
10000
2

In [43]:
# Comparison Operators
x = 15
y = 10
#greatr than , Less then
print(x>y)
print(x<y)

# greater than or equal to , less than or equal to

print(x>=y)
print(x<=y)

# Equal Equal to, Not Equal to
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [47]:
# Logicl Operators

x=True
y=False

# And operator
print(x and y)  # True, Flase = False
# OR operators
print(x or y) # True, Flase = True

# Not Operators
print(not x) #true = false

a=12
b=13
c=14

print(a<=b and c>=b)
print(a>=b or  c<=b)

False
True
False
True
False

In [1]:
# Assignment Operators
a = 3
print(a)

a/= 6 # a = = a/6 =3/6
print(a)

a+=1
print(a) #a=a+3

a-=2
print(a)

a*=4
print(a)

a**=2
print(a)



a//=10
print(a)

a%=3
print(a)

3
0.5
1.5
-0.5
-2.0
4.0
0.0
0.0

In [59]:
a = 2
a = a/3
print(a)

0.6666666666666666