# OPERATION ON STRINGS

In [1]:
# for loop on string
name="Abdul Rehman"
for i in name:
    print(i)

A
b
d
u
l

R
e
h
m
a
n

In [2]:
name="Abdul Rehman"
for i in name[2:]:
    print(i)

d
u
l

R
e
h
m
a
n

In [4]:
name="Abdul Rehman"
for i in name[2::2]:
    print(i)

d
l
R
h
a

In [8]:
name="Abdul Rehman"
i=0
while i<len(name):
    print(name[i])
    i+=1

A
b
d
u
l

R
e
h
m
a
n

In [33]:
# String Functions

#len
print(len("karachi"))
#max
print(max("karachi"))

#min
print(min("Karachi"))

#sort ----> Sort the values in list data type implicitly
print(sorted("karachi"))
print(sorted("8765"))
print(sorted("87654",reverse=True))

string="Abdul Rehman"
#capitalize / upper / lower/ title / swapcase
print(string.capitalize())
print(string.upper())
print(string.lower())
print(string.title())
print(string.swapcase())

#count
print(string.count("a"))
print(string.count("man"))
print(string.count("x"))  # output(0) ----> if given string not present

#find / index

#find ---> give the position of the string
print(string.find("a"))
print(string.find("man"))
print(string.find("x"))  # output(-1) ---> if given string is not present

#index ----> Return the output of index
print(string.index("a"))
print(string.index("man"))
# print(string.index("x")) Erorr

# endswith / startswith

print(string.startswith("a"))

print(string.endswith("man"))

#format
print("My name is {} and my age is {} ".format("Musharrraf",20))

print("My name is {1} and my age is {0} ".format("Musharrraf",20))#position based formation

print("My name is {Name} and my age is {Age} ".format(Age=20,Name="Musharraf"))  # variable based formation

# isalpha / isdecimal / isdigit / isalnum
print("Abdul".isalpha())
print("7f".isalnum())
print("1234".isdecimal())
print("200".isdigit())

#split
print(string.split())

print(string.split("a"))



#join
print("".join(["Abdul","Rehman"]))
print("-".join(["Abdul","Rehman"]))
print("@".join(["Abdul","Rehman"]))


#replace
print(string.replace("Abdul","Ali"))

#strip
name = "       Abdul Reham          " 
print(string.strip())

7
r
K
['a', 'a', 'c', 'h', 'i', 'k', 'r']
['5', '6', '7', '8']
['8', '7', '6', '5', '4']
Abdul rehman
ABDUL REHMAN
abdul rehman
Abdul Rehman
aBDUL rEHMAN
1
1
0
10
9
-1
10
9
False
True
My name is Musharrraf and my age is 20
My name is 20 and my age is Musharrraf
My name is Musharraf and my age is 20
True
True
True
True
['Abdul', 'Rehman']
['Abdul Rehm', 'n']
AbdulRehman
Abdul-Rehman
Abdul@Rehman
Ali Rehman
Abdul Rehman

#Mutable & Immutable Data types:

**Mutable**: Data types that can change, edit or delete

1. list
2. dict
3. set
   
**Immutable**: Data types that can't change, edit or delete

1. int
2. float
3. string (str)
4. tuple

#List It is the data type in which you can store multiple types of data type values.

List Vs Array

1. Array is homogenous(must contain same data-type values) but list is hetrogenous(can contain different data-type values).
2. Array store values on continuous memory location(store value one after one) but list store values on dis-continuous memory locations.
3. Arrays are much faster than list because of the continuous value storation in memory.

In [34]:
# syntax:List[element1,element2,..........element n]
students=["asad","fawad","mehmmod","aleem","abdul rehman","ishaq","ameen","umer","ali"]
#+ve index  0       1         2        3         4           5       6       7      8
#-ve index -9      -8        -7       -6        -5          -4      -3      -2     -1


print(students)

['asad', 'fawad', 'mehmmod', 'aleem', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali']

# List

**Topics**
* Create
* Access
* Edit
* Add
* Delete
* Operations
* Functions

In [43]:
# Create List
a=[]
b=[1,2,3,4,5,6]
c=["Ali",1,2,3,4,5,True, False,(4+6j)]
#multidimensional list

d=[1,2,3,4,5,[6,7,8,9]] #2d
e = [1,2,3,4,5,[6,7,8,9,[10,11,12,13,14,15]]] #3d

#List with type conversion
f=list()
g=list("Abdullah")

print(a,b,c,end="\n")
print(e,f,g)

[] [1, 2, 3, 4, 5, 6] ['Ali', 1, 2, 3, 4, 5, True, False, (4+6j)]
[1, 2, 3, 4, 5, [6, 7, 8, 9, [10, 11, 12, 13, 14, 15]]] [] ['A', 'b', 'd', 'u', 'l', 'l', 'a', 'h']

In [59]:
#Access (Inexing & Slicing) ----> same as string
l=[1,2,3,4,5,6]
#indexing
print(l[0])
print(l[1])
print(l[-1])
print(l[-3])

#slicing
print(l[0:6])
print(l[:])
print(l[-5:-2])
print(l[::2])
print(l[::-1])
print(l[-4:-2])

#Mlutidimensional list
x=[1,2,3,[4,5,6,7]]
print(x[3][0])
print(x[3][2])

1
2
6
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[2, 3, 4]
[1, 3, 5]
[6, 5, 4, 3, 2, 1]
[3, 4]
4
6

In [63]:
#Edit list items ---> list is mutable in python (can edit the items of list)
l=[1,2,3,4,5,6,7,8,9]
#editing with indexing
l[0]=0
print(l)
l[-1]=100
print(l)
#editing with slicing
l[2:6]=[100,200,300,400]
print(l)
l[-5:-2]=[10,20,30,40]
print(l)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 3, 4, 5, 6, 7, 8, 100]
[0, 2, 100, 200, 300, 400, 7, 8, 100]
[0, 2, 100, 200, 10, 20, 30, 40, 8, 100]

In [67]:
# Add items in list ----> Methods(append, extend, insert)

l=[1,2,3,4,5,6,7,8,9]
#append ---> add item in the last of the list
l.append(1000)
print(l)
# entend
#extend ---> can add one or more than one items in the last of the list

l.extend(["Musharraf"])
print(l)
l.extend(["hello","World",123,True])
print(l)
#insert ----> add the item in the list as your given index
l.insert(2,"Saleem")
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1000]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1000, 'Musharraf']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1000, 'Musharraf', 'hello', 'World', 123, True]
[1, 2, 'Saleem', 3, 4, 5, 6, 7, 8, 9, 1000, 'Musharraf', 'hello', 'World', 123, True]

In [76]:
# Delete items from list ---> Methods(del, remove, pop, clear)

l1=[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150]
#del ---> can delete the whole list or specific list item or specific list portion using indexing & slicing method
# through indexing
del(l1[0])
print(l1)
del(l1[-1])
print(l1)
# through sclicing
del(l1[0:4])
print(l1)
del(l1[-5:-2])
print(l1)

#delete whole list
# del l1
# print(l1)

#remove ----> delete the item through the actual item name
l1.remove(90)
print(l1)

#pop ----> delete last item of the list

l1.pop()
print(l1)
#clear ----> delete all items of the list
l1.clear()
print(l1)

[20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]
[20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]
[60, 70, 80, 90, 100, 110, 120, 130, 140]
[60, 70, 80, 90, 130, 140]
[60, 70, 80, 130, 140]
[60, 70, 80, 130]
[]

In [80]:
# Operations with list
#add ---> concatination
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

#multiplication
print(l1*3)


#membership operator
print(3 in l1)
print(4 in l1)
print(4 not in l1)

#for loop
l3=[1,2,3,4,5,[6,7,8]]
for i in l3:
    print(i)

name=['asad','ali','ameen','muneeb','rashid','rasheed']
for i in name:
    print(i)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
True
False
True
1
2
3
4
5
[6, 7, 8]
asad
ali
ameen
muneeb
rashid
rasheed

In [82]:
#loop with list
even=[]
odd=[]
for i in range(1,50):
    if i%2==0:
        even.append(i)

    if i%2!=0:
        odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [83]:
#loop with list and nested coditions
even=[]
odd=[]
for i in range(1,50):
    if i%2==0:
        if i%5!=0:
            even.append(i)

    if i%2!=0:
         if i%5!=0:
             odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]
[1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49]

In [84]:
#Iterating over a list using for loop
list1=['asad','hammad','ali','bilal','abdul rehman','usman','ameen']
for i in list1:
    print(f"Thanks for coming",i)

Thanks for coming asad
Thanks for coming hammad
Thanks for coming ali
Thanks for coming bilal
Thanks for coming abdul rehman
Thanks for coming usman
Thanks for coming ameen

In [85]:
#list using for loop, condition and continue statement
guest_list=[]
for i in range(10):
    guestname=input("Enter the guess name")
    if guestname=="asad":
        continue
    else:
        guest_list.append(guestname)

print(guest_list)

Enter the guess name Musharrf
Enter the guess name saleem
Enter the guess name asad
Enter the guess name ali
Enter the guess name ss
Enter the guess name sam
Enter the guess name bari
Enter the guess name shubhan
Enter the guess name sani
Enter the guess name sami

['Musharrf', 'saleem', 'ali', 'ss', 'sam', 'bari', 'shubhan', 'sani', 'sami']

In [88]:
#functions on list
l=[1,2,4,5,7,8,6,10,11,3]
print(len(l))

print(min(l))


print(max(l))

print(sorted(l))
print(sorted(l,reverse=True))

#index -----> return the index of the value
print(l.index(11))

10
1
11
[1, 2, 3, 4, 5, 6, 7, 8, 10, 11]
[11, 10, 8, 7, 6, 5, 4, 3, 2, 1]
8

# TASK-1

In [1]:
# convert the string into capital without using title
string="hello how are you"
lst=[]
for i in string.split():
    lst.append(i.capitalize())

    
string=" ".join(lst)
print(string)

Hello How Are You

# TASK-2

In [1]:
# Extract the exact e-mail part from the given e-mail
email="abc@gmail.com"
email_part=email[:email.find("@")]
print(email_part)

abc

# TASK-3

In [3]:
# Remove the dublicate items without using dublicate
lst1=[1,2,4,3,3,6,5,5,8,2,1,0,7,8,6,7]
lst2=[]
for i in lst1:
    #print(i)
    if i not in lst2:
        lst2.append(i)
print(lst2)

[1, 2, 4, 3, 6, 5, 8, 0, 7]

# Tuple

In [5]:
# Syntax

# syntax:Tuple(element1,element2,..........element n)
students=("asad","fawad","mehmmod","aleem","abdul rehman","ishaq","ameen","umer","ali")
#+ve index  0       1         2        3         4           5       6       7      8
#-ve index -9      -8        -7       -6        -5          -4      -3      -2     -1


print(students)
print(type(students))

('asad', 'fawad', 'mehmmod', 'aleem', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali')
<class 'tuple'>

#### List Vs Tuple

1. Syntax difference
2. Can't make tuple with one element
3. List is mutable while Tuple is immutable
4. List is the both read & write data type but Tuple is read only data type
4. Can add, edit, delete elements in list but can't in tuples

#### Topics


*   Create
*   Access
*   Edit
*   Add
*   Delete
*   Operations
*   **Functions**

In [17]:
#Create tuple
t1=()
t2=(1,2,3,4,5,6)
t3=("Ali",True,1,2,3,4,4.66,(5+6j))

#Multidimensional tuple
t4=(1,2,3,4,(5,6,7,8)) #2D
t5=(1,2,3,(4,5,6,(7,8,9))) #3D
print(t1,t2,t3)
print(t4,t5)

#tuple with type conversion
t8=tuple()
t6=tuple("Aliyan")
t7=tuple("1")
print(t6,t7)
print(t8)

() (1, 2, 3, 4, 5, 6) ('Ali', True, 1, 2, 3, 4, 4.66, (5+6j))
(1, 2, 3, 4, (5, 6, 7, 8)) (1, 2, 3, (4, 5, 6, (7, 8, 9)))
('A', 'l', 'i', 'y', 'a', 'n') ('1',)
()

In [19]:
a=(1)
print(a)
print(type(a))

b=("Hello")
print(b)
print(type(b))

1
<class 'int'>
Hello
<class 'str'>

In [20]:
a=(1,)
print(a)
print(type(a))

b=("Hello",)
print(b)
print(type(b))

(1,)
<class 'tuple'>
('Hello',)
<class 'tuple'>

In [32]:
#Access (Inexing & Slicing) ----> Similar with list
t=(1,2,3,4,5,6)

#indexing
print(t[0])
print(t[-1])
print(t[3])
print(t[-4])

#sciling
print(t[0:4])
print(t[0:4:2])

print(t[:])
print(t[-4:-1])
print(t[::-1])
print(t[::2])

x=(1,2,3,(4,5,6))
print(x[3][1])
print(x[3][-1])
print(x[3][-3])

1
6
4
3
(1, 2, 3, 4)
(1, 3)
(1, 2, 3, 4, 5, 6)
(3, 4, 5)
(6, 5, 4, 3, 2, 1)
(1, 3, 5)
5
6
4
(4, 5)
(4, 5)
6

In [33]:
 #Edit list items ---> tuple is immutable in python like string (can edit the existing items of tuple)
t=(1,2,4,5,6)
t[0]=100
print(t)

TypeError: 'tuple' object does not support item assignment

In [34]:
# Add ----> Can't add elements to tuples because of immputable (can't edit the existing items of tuple)

In [39]:
#Delete tuple
t=(1,2,4,5,6)
# delete the entire tuple
del t
#print(t)


# Delete an element from the tuple -----> not possible because of immputable (can't edit the existing items of tuple)
t1=(1,2,4,5,6,7)
del t1[3]
print(t1)

TypeError: 'tuple' object doesn't support item deletion

In [41]:
#operations with tuple ----> similar to list

#add ---> concatination
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)

#multiplication
print(t1*3)

#membership operator
print(3 in t1)
print(4 not in t1)

#for loop
z=(1,2,3,4,(5,6,7,8))
for i in z:
    print(i)

name=('asad','ali','ameen','muneeb','rashid','rasheed')
for i in name:
    print(i)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
True
1
2
3
4
(5, 6, 7, 8)
asad
ali
ameen
muneeb
rashid
rasheed

In [46]:
#Functions of Tuple ----> similar to list
t=(1,2,3,4,5,7,8,9,6,10,11,15)
print(len(t))

print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t,reverse=True))

print(sum(t))

print(t.index(4))

12
1
15
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15]
[15, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
81
3

# Sets

In [52]:
#syntax: # syntax:set{element1,element2,..........element n}
s={1,2,3,4,5,6}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6}
<class 'set'>

## Sets Rules



1.  Sets do not allow duplicates
2.  Sets do not allow indexing & slicing
4.  Sets itself is a mutable data type  
3.  Sets do not allow mutable data types in the elements
5.  Sets are un-ordered data type



####Topics

*   Create
*   Access
*   Edit
*   Add
*   Delete
*   Operations
*   Functions

In [56]:
# Create Sets
s={}# this will make dictionary , not set because python make dictionary as implicit type conversion.
print(s)
print(type(s))

s1={1,} # add comma after one variable can make it dictionary
print(s1)
print(type(s1))

s2={1,2,3,4,5,6}
s3={"Ali",True,4.888,(5+6j),1,2,3,4,False}
print(s2)

print(s3)

s4=set()
s5=set("Abdullah")
print(s4)
print(s5)

{}
<class 'dict'>
{1}
<class 'set'>
{1, 2, 3, 4, 5, 6}
{False, True, 2, 3, 4.888, 4, (5+6j), 'Ali'}
set()
{'A', 'u', 'b', 'a', 'h', 'd', 'l'}

In [57]:
#multidimensional set  -----> Rule 4. Set don't allow mutable datatypes, so set also do not allow itself as a mutale datatype in itself
s6={1,2,3,4,{5,6,7,8}}
print(s6)

TypeError: unhashable type: 'set'

In [58]:
# Duplicate ----> Rule 1. Set not allow duplicates in itself
s8={1,2,2,3,4,4,5,6,7,8,8}
print(s8)

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
# Rule 5. ----> Set are unordered data type so it set the elements according to hashing algorithm
s9={"Hello",1,2,3,True,5+6j}
print(s9)

{1, 2, 3, (5+6j), 'Hello'}

In [60]:
# Access Items in Set ----> Rule 2. Set do not allow indexing and slicing
s10={10,20,30,40,50,60}
print(s10[0])
print(s10[0:5])

TypeError: 'set' object is not subscriptable

In [63]:
# Add items in Set  -----> Reule 3. Sets itself is a mutable data type
s11={1,2,3,4,5,6,7}
s11.add(8)
print(s11)

#update ----> It accept any iterale like list, tuple ,set.
#({4,5} was not added as a whole single object, but instead its inner elements (4 and 5) were extracted and inserted into the set.)
s11.update(["Hello",12,22,35,48],{77,55,66},(True,False))
print(s11)

{1, 2, 3, 4, 5, 6, 7, 8}
{False, 1, 2, 3, 4, 5, 6, 7, 8, 66, 12, 77, 22, 35, 48, 55, 'Hello'}

In [1]:
# Delete Sets
s={10,20,30,40,50}
s.remove(20)
print(s) 

s.pop()
print(s) 

s.clear()
print(s) 

# Rule 2. Set do not allow indexing and slicing (so not allow delete on basis of indexing)
s={100,200,300,400}
del s[2]
print(s)

{50, 40, 10, 30}
{40, 10, 30}
set()

TypeError: 'set' object doesn't support item deletion

In [4]:
# operations on set

s={1,2,3,4,5}
for i in s:
    print(i)
print(4 in s)
#product ----> Not allow in sets because it makes duplicate, Rule 1. Set not allow duplicates in itself
print(s*2)

a={1,2,3,4,5}
b={11,12,13,14,15}
print(a+b) #addition of sets also (conctination) not exist in sets, instead set have union function

1
2
3
4
5
True

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [13]:
# Fuctions on set
a={22,33,44,55,66,77,11,99,1}
print(len(a))

print(max(a))
print(min(a))
print(sum(a))
print(sorted(a))
print(sorted(a,reverse=True))

#union ----> it make a new set from another  set without change in the original set
s1={1,2,3,4,5,6}
s2={7,6,10,11,5,8}

s3=s1.union(s2)
print(s3)
#intersection ----> Return the same elements in both sets

s4=s1.intersection(s2)
print(s4)

#difference ----> Return the elemnts that are in s1 but not in s2

s5=s1.difference(s2)
print(s5)

9
99
1
408
[1, 11, 22, 33, 44, 55, 66, 77, 99]
[99, 77, 66, 55, 44, 33, 22, 11, 1]
{1, 2, 3, 4, 5, 6, 7, 8, 10, 11}
{5, 6}
{1, 2, 3, 4}