# Loop
Loop is the method of programming which is used for the work that you want to repeat again and again.

2 type of loops in python
* While Loop
* for loop

In [ ]:
"""
syntax
while condition:
    code
"""

In [1]:
i =1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [2]:
name="Muhammad Musharraf"
i =1
while i<=10:
    print(name)
    i+=1

Muhammad Musharraf
Muhammad Musharraf
Muhammad Musharraf
Muhammad Musharraf
Muhammad Musharraf
Muhammad Musharraf
Muhammad Musharraf
Muhammad Musharraf
Muhammad Musharraf
Muhammad Musharraf

In [4]:
num=int(input("enter a Table:"))
i=1
while i<=10:
    print(i*num)
    i+=1

enter a Table: 6

6
12
18
24
30
36
42
48
54
60

In [2]:
table=int(input("enter a table: "))
rang=int(input("enter a range: "))     
i=1
while i<=rang:
    print(f"{table} X {i}=",table*i)
    i+=1

enter a table:  6
enter a range:  20

6 X 1= 6
6 X 2= 12
6 X 3= 18
6 X 4= 24
6 X 5= 30
6 X 6= 36
6 X 7= 42
6 X 8= 48
6 X 9= 54
6 X 10= 60
6 X 11= 66
6 X 12= 72
6 X 13= 78
6 X 14= 84
6 X 15= 90
6 X 16= 96
6 X 17= 102
6 X 18= 108
6 X 19= 114
6 X 20= 120

In [3]:
# while loop with condition
i=1
while i<=10:
    print(i)
    i+=1
    
else:
    print("i is no longer less than 10" )

1
2
3
4
5
6
7
8
9
10
i is no longer less than 10

In [ ]:
# Backward loop
i=10
while i>=1:
    print(i)
    i-=1

In [7]:
#Task for students
''' Write a program of table using while loop in backward direction'''
i=1
print("Table With a range ")
num=int(input("enter a table:"))
rang=int(input("enter a range of a table:"))
while rang>=i:
    print(f"{num} X {rang}=", num*rang)
    rang-=1

Table With a range

enter a table: 4
enter a range of a table: 20

4 X 20= 80
4 X 19= 76
4 X 18= 72
4 X 17= 68
4 X 16= 64
4 X 15= 60
4 X 14= 56
4 X 13= 52
4 X 12= 48
4 X 11= 44
4 X 10= 40
4 X 9= 36
4 X 8= 32
4 X 7= 28
4 X 6= 24
4 X 5= 20
4 X 4= 16
4 X 3= 12
4 X 2= 8
4 X 1= 4

In [5]:
#Task for students
''' Write a program of table using while loop in backward direction'''
print("Table without range")
i=10
num=int(input("enter a table:"))
#rang=int(input("enter a range of a table:"))
while i>=1:
    print(f"{num} X {i}=", num*i)
    i-=1

Table without range

enter a table: 8

8 X 10= 80
8 X 9= 72
8 X 8= 64
8 X 7= 56
8 X 6= 48
8 X 5= 40
8 X 4= 32
8 X 3= 24
8 X 2= 16
8 X 1= 8

While loop with conditions

In [10]:
print("even number")
count=0
while count<=30:
    
    if count%2==0:
        print(count)
    count+=1

even number
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [12]:
# Odd numbers
count=0
while count<=20:
    
    if count%2!=0:
        print(count)
    count+=1

1
3
5
7
9
11
13
15
17
19

In [13]:
# Odd numbers
count=0
while count<=20:
    
    if count%2==1:
        print(count)
    count+=1

1
3
5
7
9
11
13
15
17
19

In [2]:
import random

In [3]:
jackpot= random.randint(1,100)
print(jackpot)

29

In [4]:
guess= int(input("enter the number you can guess 1 to 100"))
count=1
while guess!=jackpot:
    
    if guess<jackpot:
        print("guess Higher")
    else:
        print("guess Lower")
    guess= int(input("guess Again..."))
    count+=1          
print("write Answer")
print(f"Total Attempt: {count} " )

enter the number you can guess 1 to 100 50

guess Lower

guess Again... 45

guess Lower

guess Again... 40

guess Lower

guess Again... 36

guess Lower

guess Again... 30

guess Lower

guess Again... 20

guess Higher

guess Again... 25

guess Higher

guess Again... 28

guess Higher

guess Again... 29

write Answer
Total Attempt: 9

In [5]:
#range -------> Built in Function of for loop (0,n-1)
range(1,12)

range(1, 12)

In [9]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
#range(start,stop,step)
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [22]:
#Backward
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# For Loop

In [23]:
#for (0,n-1)
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [26]:
# Write a table using for loop
num=int(input("enter a Table:"))
for i in range(1,11):
        print(i*num)

enter a Table: 5

5
10
15
20
25
30
35
40
45
50

In [30]:
# Write a backward  table using for loop
num=int(input("enter a Table:"))
for i in range(10,0,-1):
        print(f"{num} X {i} =",i*num)

enter a Table: 5

5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5

In [31]:
#Sequence ------> use for forloop iteration in sequence using membership operator
for i in "Lahore":
    print(i)

L
a
h
o
r
e

In [32]:
for i in "Karachi":
    print(i,end="")

Karachi

In [37]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

Note: When you know that how timesthe loop continue then use for loop, and if don't know use while loop

Ex: We make guessing game and use while loop where we don't know how much time the loop run

Break & Continue

*Break -----> Terminate (stop) the loop
*Continue ------> Skip the particular iteration
*Pass ------> the point here you unsure about adding the code you give pass

In [16]:
# Break
for i in range (1,10):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [9]:
#continue
for i in range(1,11):
    if i==7:
        continue
    print(i)

1
2
3
4
5
6
8
9
10

In [11]:
# pass
for i in range(10,2,-1):
    pass

In [13]:
# For loop with if-else
for i in range(0,20):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18

In [18]:
for i in "Karachi":
    if i=="a":
        continue
    print(i)

K
r
c
h
i

In [24]:
for i in range(1,21):
    if i%10==0:
        print(f"{i} is multiple of 10")
        break
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10 is multiple of 10

# Strings Sequence of characters

In python specifically, strings are the sequence of unicode characters

* Creating Strings
* Accessing Strings
* Operations On Strings
* String Functions

In [25]:
# Creating Strings
name_1="Aliyan"
name_2="Wasay"
name_3="Usman"
print(name_1)
print(name_2)
print(name_3)

Aliyan
Wasay
Usman

# Accessing Strings

####Accessing Strings

Indexing: concept use to access the string through index

* Positive Indexing -----> Left to Right (Positive)
* Negative Indexing -----> Right to Left (Negative)
* Slicing: Return the string in the given range

In [ ]:
#Positive:  0  1  2  3  4  5  6  7  8  9  10
#           H  e  l  l  o     W  o  r  l  d

#Negative: -11 -10 -9 -8 -7 -6 -5 -4 -3 -2  -1
#           H   e   l  l  o     W  o  r  l   d

In [37]:
# indexing
# positive indexing

a="Hello"
print(a[0])
print(a[1])
print(a[3])

print(a[4])
#print(a[:])
#print(a[:5])
#print(a[::-1])

H
e
l
o
Hello
Hello
olleH

In [31]:
print(a[5])# index range error

IndexError: string index out of range

In [39]:
# negative indexing
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

o
l
l
e
H

In [53]:
#Slicing -----> string[start:end:step]
# (0,n-1)
b="Musharraf"
# positive sciling
print(b[0:4])

print(b[1:])
print(b[:])
print(b[0:7])
print(b[::2])

Mush
usharraf
Musharraf
Musharr
Msarf

In [61]:
#Negative
print(b[::-1])# reverse
print(b[-5:-1])
print(b[-4:-1])
print(b[-2:-6:-2])
print(b[-1:-10])

farrahsuM
arra
rra
ar

####Operations On Strings

* Arthematic Oerators
* Comparison Operators
* Logical Operators
* Membership Operators
* Loops On Strings

In [63]:
#Arthematic
#Add
print("hello"+ " World")
#product
print("hello "*5)

hello World
hello hello hello hello hello

In [70]:
# comparison 
#Equal-Equal-to

print("Hello"=="Hello")
print("hello"=="Hello")
print("hello"!="Hello")

# not-equal-to
print("hello"!="world")

#Greater-Than & Less Than : Follows Lexiographical comparison -----> dictionary-order based on Unicode (ASCII) code point values of characters.

print("Hello"<"World")
print("Hello">"World")
print("pakistan">"India")
print("Pak">"PAK")

# #Greater-Than-Equal-to & Less-Than-Equal-to :Also Follows exiograhical comparison
print("Hello"<="World")
print("Hello">="World")
print("Hello">"hello")
print("PAK">="PAK")

True
False
True
True
True
False
True
True
True
False
False
True

In [71]:
print("hello">="Hello")
print("hello"<="Hello")

True
False

* Ord() use to find the unicode of the chracter
* chr() use to convert unicode to character

In [75]:
# chr to unicode)
print(ord("p"))
print(ord("w"))
print(ord("o"))
print(ord("p"))

112
119
111
112

In [78]:
# unocode to char
print(chr(112))
print(chr(72))
print(chr(111))

p
H
o