# DICTIONARY

In [2]:
#Syntax -----> {key_1:value_1, key_2:value_2, ...........,key_n:value_n}

## Rules of Dictionary

1. Dictinary have no indexing
2. Dictionary is mutable data type
3. Keys should always be immutable, but Values can be mutable
5. Keys should be unique

#### Topics
*   Create
*   Access
*   Edit
*   Add
*   Delete
*   Operations
*   **Functions**

In [11]:
#create dictionary
d={}
print(d)
print(type(d))

d1={"name":"Musharraf","Roll_No":55663,"Field":"BSCS"}
print(d1)

d2={"name":"Musharraf","Roll_No":55663,"Field":"BSCS","Marks":{"M1":55,"M2":77,"M3":69}}
print(d2)

d3=dict()
d4=dict([("name","Ali"),("Roll_no",12345),("Field","BSSE")])
print(d3)
print(d4)

{}
<class 'dict'>
{'name': 'Musharraf', 'Roll_No': 55663, 'Field': 'BSCS'}
{'name': 'Musharraf', 'Roll_No': 55663, 'Field': 'BSCS', 'Marks': {'M1', 'M2', 'M3'}}
{}
{'name': 'Ali', 'Roll_no': 12345, 'Field': 'BSSE'}

In [13]:
#Rule3.------>  Keys should always be immutable, but Values can be mutable or immutable

d5={(1,2,3):"Abdullah"} #It accept tuple as a key because tuple is immutable
print(d5)

d5={[1,2,3]:"Abdullah"} #It is not accepting list as a key because list is mutable
print(d5)

{(1, 2, 3): 'Abdullah'}

TypeError: unhashable type: 'list'

In [14]:
#Rule 5. ------> Keys should be unique
d6={"name":"Urhan","name":"Umme Hani"}  #It update the previous value of the key istead of giving error
print(d6)

{'name': 'Umme Hani'}

In [5]:
# Accessing values from dictionary ----> Access values from dictionary can be possible throught calling key, output(value)
d7={"name":"Musharraf","Roll_No":55663,"Field":"BSCS"}
print(d7['name'],d7['Roll_No'],d7['Field'])

d8={"name":"Musharraf","Roll_No":55663,"Field":"BSCS","Marks":{"M1":55,"M2":77,"M3":69}}

print(d8["Marks"]['M3'])

#get ----> Fetchthe value of the key
print(d8.get('Marks'))

Musharraf 55663 BSCS
69
{'M1': 55, 'M2': 77, 'M3': 69}

In [14]:
#Edit values from dictionary ----> dictionary_name[key]=new_value
d7={"name":"Musharraf","Roll_No":55663,"Field":"BSCS"}
d7['name']='Saleem Khan'
print(d7)
d7['Age']=70
print(d7)



# Add new items in dictionary

# Add new key, value pairs in 2D dictionary
d8={"name":"Musharraf","Roll_No":55663,"Field":"BSCS","Marks":{"M1":55,"M2":77,"M3":69}}
d8['Marks']['M5']=89

print(d8)

#update ----> add or modify key-value pairs in the dictionary.
students={'name':'Ali','seat':40}
print(students)
# Updating existing key
students.update({'seat':22})
print(students)

# Adding new key
students.update({'grade':'A'})
print(students)


# Merging another dictionary
students.update({'roll':5567,'Section':'B'})

print(students)

{'name': 'Saleem Khan', 'Roll_No': 55663, 'Field': 'BSCS'}
{'name': 'Saleem Khan', 'Roll_No': 55663, 'Field': 'BSCS', 'Age': 70}
{'name': 'Musharraf', 'Roll_No': 55663, 'Field': 'BSCS', 'Marks': {'M1': 55, 'M2': 77, 'M3': 69, 'M5': 89}}
{'name': 'Ali', 'seat': 40}
{'name': 'Ali', 'seat': 22}
{'name': 'Ali', 'seat': 22, 'grade': 'A'}
{'name': 'Ali', 'seat': 22, 'grade': 'A', 'roll': 5567, 'Section': 'B'}

In [21]:
# Delete Dictionary
d={"name": "Abdul Rehman","Roll No": 123, "Field": "Computer Science"}

#del d
#print(d)
# Delete through key
del d['Field']
print(d)

# Delete through key in 2D dictionary
d={"name":"Musharraf","Roll_No":55663,"Field":"BSCS","Marks":{"M1":55,"M2":77,"M3":69}}
del d['Marks']['M1']
print(d)


d12={1:'one',2:'two',3:'Three'}
d12.clear()
print(d12)

{'name': 'Abdul Rehman', 'Roll No': 123}
{'name': 'Musharraf', 'Roll_No': 55663, 'Field': 'BSCS', 'Marks': {'M2': 77, 'M3': 69}}
{}

In [22]:
# operations on dictionary

d1={"name": "Abdul Rehman","Roll No": 123, "Field": "Computer Science"}
d2={"name": "Abdulah","Roll No": 456, "Field": "Engineering"}


d3=d1+d2
print(d3)

d6=d1*3
print(d6)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [25]:
# operations on dictionary

d1={"name": "Abdul Rehman","Roll No": 123, "Field": "Computer Science"}

for i in d1:# keys are return
    print(i)

for i in d1:
    print(d1[i])

# membership
print('name' in d1) 

print('name' not in d1)
print('Field' in d1)

name
Roll No
Field
Abdul Rehman
123
Computer Science
True
False
True

In [30]:
# Functios of dictionary
x={"name": "Abdul Rehman","Roll No": 123, "Field": "Computer Science"}
print(len(x))



print(min(x))

print(max(x))

print(sorted(x))

print(sorted(x,reverse=True))

#keys
print(x.keys())
# values
print(x.values())
# items
print(x.items())

3
Field
name
['Field', 'Roll No', 'name']
['name', 'Roll No', 'Field']
dict_keys(['name', 'Roll No', 'Field'])
dict_values(['Abdul Rehman', 123, 'Computer Science'])
dict_items([('name', 'Abdul Rehman'), ('Roll No', 123), ('Field', 'Computer Science')])

In [31]:
#print keys

dictionary = {1: "one", 2: "two", 3: "three"}

for i in dictionary:
    print(i)

1
2
3

In [32]:

for x in dictionary.keys():
    print(x)

1
2
3

In [33]:
#print values
for a in dictionary.values():
    print(a)

one
two
three

In [34]:
#print items
for a in dictionary.items():
    print(a)

(1, 'one')
(2, 'two')
(3, 'three')

# Functions

A block of code or a black box that have some code inside that have some usage purpose
##Benifits:
1. Every code is self contained and use to break up the entire login into pieces(Modularity).
2. Works on philosophy of write once use forever! (Reusability).
3. Code is well organized. (Readability).

## Properties

### 1. Abstraction:
Hiding the internal details of how a task is performed and only showing a simple interface to the user, so the user can use the function without worrying about its internal complexity.

### 2. Decomposition:
Breaking a large and complex problem into smaller, manageable functions, where each function handles a specific task, making the program more organized, reusable, and easier to maintain.

In [ ]:
#syntax

'''
def function_name(Parameters):

  function doc (reading manual)
  function work and Logic
  return outputs

  '''

# Calling function
'''
function_name(Arguments)

In [18]:
def is_even(num):
    if num%2==0:
        return "even"
    else:
        return "odd"

In [19]:
is_even(5)

'odd'

In [20]:
is_even(10)

'even'

In [21]:
for i in range(10):
    print(is_even(i))

even
odd
even
odd
even
odd
even
odd
even
odd

In [24]:
# Calling fuction doc
is_even.__doc__

#### Difference between return and print

#####1. print
simply displays the output on the screen. It doesn’t give anything back to the program. Once printed, the value cannot be reused by other parts of the code.

#####2. return
Gives the result back to the caller of the function. The returned value can be stored in a variable, reused, or passed to another function. It makes functions more flexible and powerful.

#### Why do we use return more in functions?

Because functions are usually written to perform a task and give back a result that can be used later in the program. **return** makes the function reusable, testable, and usable in larger programs, that's why return in functions.

#### Difference between Parameter & Argument

* Parameter is a place holder (variable).
* Argument is an actual value pass through the function when call.


###Arguments

1.   Default Arguments
2.   Positional Arguments
3.   Keyword Arguments
4.   Arbitrary Arguments

In [30]:
def power(a,b):
    return a**b

In [31]:
power(5,6)

15625

In [32]:
# crashing function because of one argment
power(5)

TypeError: power() missing 1 required positional argument: 'b'

**Note:** The best practise is to make function that avoid the crashing, To avoid crashing, use default argument concept

In [35]:
# Default Argument ----> A parameter that takes a pre-defined value if no value is provided by the caller when the function is called.

def power(a=1,b=1):
    return a**b

In [37]:
power(4,2)

16

In [38]:
power(7) # Now not making error because of default argument

7

In [39]:
def greet(name='Guest'):
    print(f" hello {name} ")

In [40]:
greet("Ali")

 hello Ali

In [41]:
greet("Rehman")

 hello Rehman

In [42]:
# Positional Argument -----> It is argument that is passed to a function in the same order as the parameters are defined in the function.

# Here a=2 , because given argument(2) is on the first position that is for parameter(a), similarly argument(3) for parameter(b).
#Which shows the proper position of both arguments.
power(5,6)

15625

In [43]:
# Keyword Arguments -----> It is an argument that is passed to a function by explicitly mentioning the parameter name along with its value, so the order of arguments doesn’t matter.

power(b=5,a=10)

100000

In [63]:
# Arbitrary Argumnts

# 1. Arbitrary Positional Argumnts ----> A function that accept any number of positional arguments without defining them in advance. These arguments are collected into a tuple.
def flexibity(*number):
    print(number)
    print(type(number))
    
    product=1
    for i in number:
        product=product*i
    print(product)

In [65]:
flexibity(1,2,3)

6

In [68]:
# 2. Arbitrary Keyword Argumnts ----> A function that accept any number of Keyword arguments without defining them in advance. These arguments are collected into a dictionary.

def std_info(**info):
    print(info)
    print(type(info))

    for key,value in info.items():
        print(f"{key} : {value}")

In [70]:
std_info(name="Abdullah",Roll_no=67568,Section="D")

{'name': 'Abdullah', 'Roll_no': 67568, 'Section': 'D'}
<class 'dict'>
name : Abdullah
Roll_no : 67568
Section : D

### Functions As Objects

In [71]:
def f(num):
    return num**2

In [72]:
f(4)

16

In [73]:
f(8)

64

In [74]:
x=f

In [75]:
x(9)

81

In [79]:
# Deleting function
#It is already stored in x

del f
print(f)

NameError: name 'f' is not defined

In [81]:

print(type(x))
x(6)

<class 'function'>

36

In [83]:
#Sorting function object in list
l=[1,2,3,4,5,x]
print(l)

[1, 2, 3, 4, 5, <function f at 0x000001BE86C0BB00>]

In [85]:
# input value to x which behaving as a function
l[-1](9)

81

In [87]:
#similarly
l=[1,2,3,4,5,x(7)]
print(l)

[1, 2, 3, 4, 5, 49]

# Exercises

In [89]:
def mean(arr):
    total=0
    for val in arr:
        total+=val
    return total/len(arr)
mean([2,3,4,5,6,7,8,9])

5.5

In [2]:
def data(name,roll_no,marks,grade):
    print(f"""
     Name:{name}
     Roll_No:{roll_no}
     Marks: {marks}
     GRADE: {grade}
     
     """)
data("Ali",786867,89,"A+")

     Name:Ali
     Roll_No:786867
     Marks: 89
     GRADE: A+

In [3]:
def para(text):
    print(text.lower())

    print(text.capitalize())

para("my name is dua")

my name is dua
My name is dua

In [5]:
def min_max(arr):
    print(min(arr),max(arr))

min_max([1,2,3,4,5,6])

1 6

In [9]:
name={'Abdullah','Abdul Rehman','Ameen','Aman','Ali','Owais'}
def person_name():
    for i in name:
        print(i)

person_name()

Ali
Aman
Abdul Rehman
Ameen
Abdullah
Owais

In [15]:
def build_person(first_name,last_name,age=''):
    person={"First_name":first_name,"last_name":last_name}
    if age:
        person['age']=age
        return person


build_person("imad","waseem",35)

{'First_name': 'imad', 'last_name': 'waseem', 'age': 35}

In [18]:
def pizza(*toping):
    for top in toping:
        print(top)

pizza('cheese','garlic sauce','doble chicken')
pizza('Mashroom')

cheese
garlic sauce
doble chicken
Mashroom

In [33]:
def build_profile(first,last,**user_id):
    person={}
    person["First_Name"]=first
    person["Last_Name"]=last

    for key,value in user_id.items():
        person[key]=value

    return person

In [34]:
build_profile("muhammad","Aleem")

{'First_Name': 'muhammad', 'Last_Name': 'Aleem'}

In [36]:
build_profile("muhammad","Aleem",education="Graduation",university="Federal university",field="BSCS")

{'First_Name': 'muhammad',
 'Last_Name': 'Aleem',
 'education': 'Graduation',
 'university': 'Federal university',
 'field': 'BSCS'}

In [61]:
def calculator(arr,task=''):
    print("choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd ")
    if task=='add':
        total=0
        for add in arr:
            total=total+add

        return total


    elif task=='sub':
        total=0
        for sub in arr:
            total= sub-total
        return total


    elif task=='mul':
        
        total=1
        for mul in arr:
            total=mul*total
        return total

    elif task=='div':
        total=1
        for div in arr:
            total=div/total
        return total

    elif task=='avg':
        total=1
        for avg in arr:
            total+=avg
        return total/len(arr)
    
    elif task=='exponent':
        power=int(input("Enter the number"))
        return [sqr**power for sqr in arr]
        
    elif task=='even':
        evenlist=[]
        for i in arr:
            if i%2==0:
                evenlist.append(i)
        return evenlist

    elif task=='odd':
        oddlist=[]
        for odd in arr:
            if odd%2==1:
                oddlist.append(odd)
        return oddlist

    else:
        return arr

In [63]:
print(calculator([2,3,4,5,6,7],'add'))
print(calculator([2,3,4,5,6],'sub'))
print(calculator([2,3,4,5,6,7],'mul'))
print(calculator([2,3,5,6,],'div'))
print(calculator([2,3,4,5,6,7],'exponent'))
print(calculator([2,3,4,5,6,7],'avg'))
print(calculator([2,3,4,5,6,7],'odd'))
print(calculator([2,3,4,5,6,7],'even'))
print(calculator([2,3,4,5,6,7]))

choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd
27
choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd
4
choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd
5040
choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd
1.7999999999999998
choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd

Enter the number 5

[32, 243, 1024, 3125, 7776, 16807]
choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd
4.666666666666667
choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd
[3, 5, 7]
choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd
[2, 4, 6]
choose anyone to perform operaion on a list :Add,sub,mul,div,avg,exponent,even,odd
[2, 3, 4, 5, 6, 7]